
h1 {
    color: #53AF32;
}
.gtco-nav {
    background-color: white;
}
.gtco-nav ul li a {
    color: #000000;
}
.gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
    color: #53AF32;
}
.gtco-nav ul li.active > a {
    color: #7ed321;
}
h1, h2, h3, h4, h5, h6, figure {
font-family: 'Roboto Flex', sans-serif;
}
.gtco-nav.scrolled ul li a {
    color: rgba(0, 0, 0, 0.7);
}
body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #777;
    background: #fff;
}
#gtco-practice-areas .gtco-testimonials .heading .subtle-text {
    position: absolute;
    bottom: 0em;
    left: 0;
    text-transform: uppercase;
    font-size: 208px;
    color: #F8F8F8;
    font-weight: 900;
    z-index: -1;
}
#gtco-testimonials .heading .subtle-text {
    position: absolute;
    bottom: 0em;
    left: 0;
    text-transform: uppercase;
    font-size: 208px;
    color: #F8F8F8;
    font-weight: 900;
    z-index: -1;
}
#gtco-about, #gtco-practice-areas, #gtco-our-team, #gtco-contact, #gtco-kohderyhma {
    padding: 7em 7px;
    clear: both;
}
.heading .sub:after {
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    content: "";
    position: absolute;
    width: 300px;
    height: 2px;
    background: #53AF32;
}