
h1 {
    color: #53AF32;
}
.gtco-nav {
    background-color: white;
}
.gtco-nav ul li a {
    color: #7ed321;
}
.gtco-nav ul li.active > a {
    color: #7ed321;
}
h1, h2, h3, h4, h5, h6, figure {
font-family: 'Roboto Flex', sans-serif;
}
.gtco-nav.scrolled ul li a {
    color: rgba(0, 0, 0, 0.7);
}
body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #777;
    background: #fff;
}